form > button[type="submit"] {
    width: max-content;
    align-self: flex-end;
}

.journal {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.journal-entry {
    border: 1px solid var(--color-light);
    color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    background: var(--color-lighter);
    border-radius: 6px;
    padding: var(--spacing-sm);
}
