<ul class="note-list">
    {% for note in notes %}
        <li>
            {% with note.created_at|date:'Y-m-d' as formatted_date %}
                <time datetime="{{ formatted_date }}">{{ formatted_date }}</time>
                <a href="{% url 'notes:detail' pk=note.id %}">
                    {% if note.title %}
                        {{ note.title }}
                    {% else %}
                        {{ note.content|truncatewords:5 }}
                    {% endif %}
                </a>
            {% endwith %}
        </li>
    {% endfor %}
</ul>
