{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Littlenote</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="title">Littlenote</a>
            <menu>
                <li><a href="/">How it works</a></li>
                <li><a href="/">Community notes</a></li>
                <li><a href="/">Log in</a></li>
            </menu>
        </nav>
    </header>
    <main>
        <div class="hero">
            <h1>Turn big ideas into little notes.</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia accusantium, pariatur beatae ex autem possimus perspiciatis!</p>
            <a href="/" class="cta-btn">Sign up for a free account</a>
        </div>
    </main>
    <footer>
        <p>Created by  <a href="https://nmsalvatore.com">Nick Salvatore</a>, the original note boo.</p>
    </footer>
</body>
</html>
