{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/modern-normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/htmx.min.js' %}" defer></script>
	<title>Littlenote</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="title">Littlenote</a>
            <menu>
                <li><a href="/what-is-this/">What is Littlenote?</a></li>
            </menu>
        </nav>
    </header>
    <main>
        <div class="hero">
            <h1>Write less. Learn more.</h1>
            <p>Track daily writing, curate for precision, and focus on what matters.</p>

            {% if otp_sent %}
                {% include 'pages/partials/otp_form.html' %}
            {% else %}
                <form method="post" hx-post="/" hx-swap="outerHTML" id="continue_with_email_form">
                    {% csrf_token %}
                    <input type="email" name="email" placeholder="Enter your email address" id="continue_with_email_input">
                    <button type="submit" id="continue_with_email_button">Continue with email</button>
                </form>
            {% endif %}
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Littlenote.</p>
    </footer>
</body>
</html>
