{% extends "base.html" %}

{% load static %}


{% block subtitle %}

    Dashboard

{% endblock subtitle %}


{% block page_content %}

    <div class="container">
        <aside class="sidebar">
            <header>
                <a href="/" class="title">Littlenote</a>
            </header>
            {% include "app_nav.html" %}
        </aside>

        <main class="content">
            {% if messages %}
                {% include "pages/partials/messages.html" %}
            {% endif %}

            {% block app_content %}
            {% endblock app_content %}
        </main>
    </div>

{% endblock page_content %}
