{% extends "base.html" %}
{% load static %}

{% block subtitle %}
    Dashboard
{% endblock subtitle %}

{% block page_content %}
    <div class="container">
        <aside class="sidebar">
            <header>
                <a href="/" class="title">Littlenote</a>
            </header>
            {% include "app_nav.html" %}
        </aside>

        <main class="content">
            <div class="container">
                {% block app_content %}
                {% endblock app_content %}
            </div>
        </main>
    </div>
{% endblock page_content %}
