{% load static %}

<nav>
    <div class="top-options">
        <a href="{% url 'notes:all' %}">
            <img src="{% static 'icons/notes.svg' %}" alt="Note stack">
            Notes
        </a>
        <a href="/">
            <img src="{% static 'icons/journal.svg' %}" alt="Book icon">
            Journal
        </a>
        <a href="/">
            <img src="{% static 'icons/todos.svg' %}" alt="A little house">
            Todos
        </a>
        <a href="/">
            <img src="{% static 'icons/calendar.svg' %}" alt="Calendar icon">
            Calendar
        </a>
    </div>
    <div class="bottom-options">
        <form action="{% url 'accounts:logout' %}" method="post" id="signout_form">
            {% csrf_token %}
            <img src="{% static 'icons/signout.svg' %}" alt="Signout icon">
            <button type="submit">Sign out</button>
        </form>
    </div>
</nav>
