.note-detail {
    background: var(--color-lighter);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
}

.note-detail header {
    display: flex;
    flex-direction: column;
}

.note-detail header h1 {
    margin-bottom: var(--spacing-xs);
}

.note-content h1,
.note-content h2,
.note-content h3,
.note-content h4,
.note-content h5,
.note-content h6 {
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-sm);
}

.note-content h1:first-child,
.note-content h2:first-child,
.note-content h3:first-child,
.note-content h4:first-child,
.note-content h5:first-child,
.note-content h6:first-child {
    margin-top: 0;
}

.note-content h1::before {
    content: "#";
    margin-right: 1ch;
}

.note-content h2::before {
    content: "##";
    margin-right: 1ch;
}

.note-content h3::before {
    content: "###";
    margin-right: 1ch;
}

.note-content h4::before {
    content: "####";
    margin-right: 1ch;
}

.note-content h5::before {
    content: "#####";
    margin-right: 1ch;
}

.note-content h6::before {
    content: "#######";
    margin-right: 1ch;
}

.note-content ol,
.note-content ul {
    padding-left: var(--spacing-md);
    margin-bottom: var(--spacing-sm);
}

.note-content hr {
    border: none;
    border-bottom: 1px dashed var(--color-dull);
    margin-bottom: var(--spacing-sm);
}

#delete_note_dialog {
    margin: auto;
    position: relative;
    top: calc(-1 * var(--spacing-xl));
}

#delete_note_dialog .dialog-content {
    padding: var(--spacing-md);
}
