{% extends "base.html" %}

{% block subtitle %}
    Dashboard
{% endblock subtitle %}

{% block content %}
    <header>
        <a href="/" class="title">Littlenote</a>
        <menu>
            <li>Notes</li>
            <li>Community</li>
            <li>My Account</li>
        </menu>
    </header>

    <main>
        {% if messages %}
            {% include "pages/partials/messages.html" %}
        {% endif %}

        <section>
            <h2>Note Contributions</h2>
            <div id="heatmap">
                {% for day in days %}
                    <div class="cell" data-day="{{ day|date:'Y-m-d' }}" title="{{ day|date:'F j, Y' }}"></div>
                {% endfor %}
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Littlenote.</p>
    </footer>
{% endblock content %}
