{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'pages/css/front_page.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>{{ SITE_TITLE }}</h1>
    </header>
    <main>
        {% if passcode_sent %}
            {% include 'pages/partials/passcode_form.html' %}
        {% else %}
            {% include 'pages/partials/email_form.html' %}
        {% endif %}
    </main>

    {% include "partials/footer.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}
