a.title {
    color: var(--color-dark);
    font-size: var(--font-size-big);
    text-decoration: none;
}

body > .container {
    flex-direction: row;
}

aside.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    text-transform: lowercase;
    width: 100%;
    height: calc(100dvh - (var(--space-xl) * 2));
}

aside.sidebar header {
    margin-bottom: var(--space-lg);
}

aside.sidebar nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

aside.sidebar nav a {
    align-items: center;
    border-radius: 4px;
    color: var(--color-medium);
    display: flex;
    font-family: var(--font-family-mono);
    gap: var(--space-sm);
    left: -12px;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
    width: calc(240px - var(--space-md));
}

aside.sidebar > nav a img,
form img:has(+ button[type="submit"]) {
    height: 18px;
}

aside.sidebar > nav a:hover,
#signout_form:hover {
    background: hsl(195 50% 92%);
    color: var(--color-dark);
}

aside.sidebar > nav .top-options,
aside.sidebar > nav .bottom-options {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

main.content header h1 {
    cursor: default;
    margin-bottom: 0;
}

main.content header a {
    color: var(--color-accent-dark);
    font-family: var(--font-family-mono);
    text-decoration: none;
}

main.content header a:hover {
    color: var(--color-dark);
}

#signout_form {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    left: -12px;
    padding: 8px 12px;
    position: relative;
}

#signout_form button {
    cursor: pointer;
    font-family: var(--font-family-mono);
    border: none;
    background: none;
    text-transform: lowercase;
}
