/* admin bar styles */

#admin_nav {
    background: var(--color-lighter);
    padding: var(--spacing-xs);
}

#admin_nav button[type="submit"] {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-action);
    text-underline-offset: 4px;
}

#admin_nav > .container {
    display: flex;
    justify-content: space-between;
}

#admin_nav > .container {
    margin: auto;
    max-width: 540px;
    width: 100%;
}

/* app-level header styles */

body > header h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

body > header a {
    display: flex;
    gap: 1ch;
    text-decoration: none;
}

body > header a .text {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-dull);
}

body > header > nav {
    display: flex;
    gap: var(--spacing-xs);
    text-transform: lowercase;
}

.nav-item {
    display: inline-flex;
}

.nav-item.active > a {
    background: var(--color-primary);
    color: var(--color-whitish);
}

.nav-item > a {
    background: var(--color-lighter);
    border-radius: 1ch;
    color: var(--color-primary);
    font-weight: 500;
    padding: 6px 12px;
}

/* app-level code styles */

pre,
code:not(pre code) {
    background: var(--color-light);
    border-radius: 4px;
    font-size: 0.875rem;
}

pre {
    overflow: auto;
    padding: var(--spacing-sm);
    margin: var(--spacing-sm) 0;
}

code:not(pre code) {
    padding: 2px 4px;
}

/* app-level input styles */

form:has(textarea[name="content"]) {
    background: var(--color-whitish);
    border: 1px solid var(--color-light);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
}

form:has(textarea[name="content"]) > input,
form:has(textarea[name="content"]) > textarea,
form:has(textarea[name="content"]) > button {
    border: none;
    background: none;
}

form:has(textarea[name="content"]) > input:focus,
form:has(textarea[name="content"]) > textarea:focus,
form:has(textarea[name="content"]) > button:focus {
    outline: none;
}

form:has(textarea[name="content"]) > textarea {
    resize: none;
    field-sizing: content;
}

form:has(textarea[name="content"]) > textarea[name="content"] {
    padding-bottom: var(--spacing-sm);
}

form:has(textarea[name="content"]) > button[type="submit"] {
    color: white;
    cursor: pointer;
    background: var(--color-action);
    border-radius: 6px;
    border: 2px solid var(--color-light);
    padding: 5px 16px;
}
