:root {
    /* colors */
    --color-bg: hsl(60 15% 93%);
    --color-primary: hsl(150 15% 15%);
    --color-secondary: hsl(150 5% 60%);
    --color-overlay: rgba(0, 0, 0, 0.03);
    --color-input-border: rgba(0, 0, 0, 0.12);
    --color-whitish: hsl(150 20% 96%);

    /* spacing */
    --spacing-xs: 1ch;
    --spacing-sm: 2ch;
    --spacing-md: 3ch;
    --spacing-lg: 5ch;
    --spacing-xl: 8ch;
}

html {
    background: var(--color-bg);
    color: var(--color-primary);
    font-family: ui-monospace, monospace;
    font-size: 15px;
}

/* sections */

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    line-height: 1.7;
}

#admin_nav {
    background: var(--color-overlay);
    padding: var(--spacing-xs);
}

#admin_nav > .container {
    display: flex;
    justify-content: space-between;
}

#admin_nav > .container,
body > header,
body > main,
body > footer {
    margin: auto;
    max-width: 540px;
    width: 100%;
}

body > header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding-bottom: var(--spacing-lg);
    padding-top: var(--spacing-xl);
}

body > header > div {
    display: flex;
    justify-content: space-between;
}

body > main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    flex: 1;
}

body > footer {
    padding-bottom: var(--spacing-xl);
    padding-top: var(--spacing-xl);
}

/* text-level styles */

h1,
h2,
h3,
h4,
h5,
h6,
strong,
bold {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: var(--spacing-sm);
}

p {
    margin-bottom: var(--spacing-sm);
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-underline-offset: 4px;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-secondary);
}

time {
    color: var(--color-secondary);
}

*::placeholder {
    color: var(--color-secondary);
    opacity: 1;
}

/* header-specific styles */

body > header h1 {
    margin-bottom: 0;
}

body > header a {
    display: flex;
    gap: 1ch;
    text-decoration: none;
}

body > header a .text {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-secondary);
}

body > header > nav {
    display: flex;
    text-transform: lowercase;
}

.nav-item {
    color: var(--color-secondary);
    display: inline-flex;
}

.nav-item.active > a {
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.nav-item > a {
    color: inherit;
}

.nav-item:not(.nav-item:last-child)::after {
    content: "/";
    padding: 0 1ch;
}

/* code styles */

pre,
code:not(pre code) {
    background: var(--color-overlay);
    border-radius: 4px;
    font-size: 0.875rem;
}

pre {
    overflow: auto;
    padding: var(--spacing-sm);
    margin: var(--spacing-sm) 0;
}

code {
    padding: 2px 4px;
}
