:root {
    /* colors */
    --color-whitish: hsl(150 15% 97%);
    --color-light: hsl(60 8% 84%);
    --color-lighter: hsl(60 10% 88%);
    --color-bg: hsl(60 12% 92%);
    --color-primary: hsl(150 15% 20%);
    --color-secondary: hsl(150 5% 27%);
    --color-dull: hsl(150 5% 55%);
    --color-action: hsl(150 15% 45%);

    /* spacing */
    --spacing-xs: 1ch;
    --spacing-sm: 2ch;
    --spacing-md: 3ch;
    --spacing-lg: 5ch;
    --spacing-xl: 8ch;
}

html {
    background: var(--color-bg);
    color: var(--color-primary);
    font-family: monospace;
    font-size: 16px;
}

/* sections */

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    line-height: 1.7;
}

body > header,
body > main,
body > footer {
    margin: auto;
    max-width: 540px;
    width: 100%;
}

@media only screen and (max-width: calc(540px + 2rem)) {
    body > header,
    body > main,
    body > footer {
        padding: 0 1rem;
    }
}

body > header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding-bottom: var(--spacing-lg);
    padding-top: var(--spacing-xl);
}

@media only screen and (max-width: calc(540px + 2rem)) {
    body > header {
        padding-top: var(--spacing-lg);
    }
}

body > header > div {
    display: flex;
    justify-content: space-between;
}

body > main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    flex: 1;
}

body > footer {
    padding-bottom: var(--spacing-xl);
    padding-top: var(--spacing-xl);
}

/* text-level styles */

h1,
h2,
h3,
h4,
h5,
h6,
strong,
bold {
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-primary);
    letter-spacing: -0.05rem;
    line-height: 1.5;
    margin-bottom: var(--spacing-sm);
}

p {
    margin-bottom: var(--spacing-sm);
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
}

time {
    color: var(--color-dull);
}

*::placeholder {
    color: var(--color-dull);
    opacity: 1;
}

hr {
    border: none;
    border-bottom: 1px solid var(--color-light);
}

button {
    cursor: pointer;
}
