@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --color-primary: hsl(120, 25%, 5%);
    --color-secondary: hsl(120, 5%, 25%);
    --color-link: hsl(120, 15%, 25%);
    --line-height-body: 1.5;
    --line-height-heading: 1.2;
    --spacing-1: 1rem;
    --spacing-2: 2rem;
    --spacing-3: 3rem;
    --spacing-5: 5rem;
    --spacing-8: 8rem;
}

html {
    background: hsl(120, 25%, 90%);
}

body {
    color: var(--color-primary);
    font-family: Inter, Helvetica, sans-serif;
    line-height: var(--line-height-body);
}

body > header,
body > main,
body > footer {
    margin: auto;
    max-width: 960px;
}

body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-5);
}

body > header nav {
    display: flex;
    gap: var(--spacing-1);
}

body > footer {
    margin-bottom: var(--spacing-5);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    line-height: var(--line-height-heading);
}

a {
    color: var(--color-link);
}
