@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-bg: hsl(195 25% 97%);
    --color-input-bg: hsl(195 35% 98%);
    --color-primary: hsl(195 50% 15%);
    --color-secondary: hsl(195 25% 30%);
    --color-accent-light: hsl(195 50% 87%);
    --color-accent-dark: hsl(195 50% 50%);

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 3rem;
    --space-xl: 5rem;

    --line-height-default: 1.5;
    --line-height-compact: 1.2;
}

html {
    background: var(--color-bg);
    color: var(--primary);
}

body {
    display: flex;
    font-family: "Work Sans", system-ui, sans-serif;
    justify-content: center;
    line-height: var(--line-height-default);
    min-height: 100dvh;
}

body > .container {
    display: flex;
    margin: var(--space-xl) 0;
    max-width: 960px;
    flex: 1;
}

aside.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    text-transform: lowercase;
    width: 100%;
}

aside.sidebar header {
    margin-bottom: var(--space-lg);
}

aside.sidebar nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

aside.sidebar nav a {
    color: var(--color-secondary);
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    width: calc(240px - var(--space-md));
    position: relative;
    border-radius: 4px;
    left: -12px;
    gap: var(--space-sm);
}

aside.sidebar > nav a img {
    height: 18px;
}

aside.sidebar > nav a:hover {
    background: hsl(195 25% 93%);
    color: var(--color-primary);
}

aside.sidebar > nav .top-options,
aside.sidebar > nav .bottom-options {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

main.content {
    width: 100%;
}

main.content h1 {
    font-size: 1.25rem;
    margin-bottom: var(--space-lg);
    margin-top: 0;
}

body > main:has(div.hero) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex: 1;
    width: 100%;
}

body > footer {
    height: 120px;
    display: flex;
    align-items: center;
}

body:has(div.hero) > footer {
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: var(--line-height-compact);
    text-transform: lowercase;
}

p {
    color: var(--secondary);
}

a {
    color: var(--link);
    font-family: "Roboto Mono", monospace;
}

input,
textarea {
    border: 1px solid var(--color-accent-light);
    border-radius: 4px;
    box-shadow: 0 2px 6px -6px;
    color: var(--color-primary);
    background: var(--color-input-bg);
    line-height: var(--line-height-default);
    padding: 10px 16px;
    resize: none;
    width: 100%;
}

input:focus,
textarea:focus {
    border: 1px solid var(--color-accent-dark);
    outline: none;
}

a.title {
    color: var(--primary);
    font-family: "Work Sans", system-ui, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: var(--line-height-compact);
    text-decoration: none;
}

a.cta-btn {
    padding: var(--space-xs) var(--space-md);
    background: var(--link);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 8px -6px var(--primary);
    text-decoration: none;
}

div.hero {
    max-width: 320px;
    position: relative;
    text-align: center;
    width: 100%;
}

div.hero img {
    height: 100px;
}

div.hero > h1 {
    font-size: 1.5rem;
    margin-bottom: var(--space-md);
    margin-top: var(--space-xs);
}

div.hero > h2 {
    margin-bottom: var(--space-md);
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--secondary);
}

div.hero form {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

div.hero form:has(+ ul.messages) {
    margin-bottom: var(--space-sm);
}

div.hero form input,
div.hero form button {
    border-radius: 8px;
    font-size: inherit;
    padding: 8px 12px;
    line-height: var(--line-height-default);
}

div.hero form input {
    border: 1px solid #d4d4d2;
    width: 100%;
}

div.hero form input:focus {
    outline: 2px solid var(--tertiary);
    outline-offset: 2px;
}

div.hero form button {
    border: none;
    background: var(--primary);
    color: white;
    cursor: pointer;
}

div.hero form .passcode-container {
    text-align: left;
}

div.hero form small {
    color: var(--secondary);
    display: block;
    margin-bottom: var(--space-xs);
}

ul.messages {
    list-style-type: none;
    background: rgba(0, 0, 0, 0.07);
    padding: var(--space-sm);
    width: 100%;
    font-size: 80%;
    border: 1px solid var(--tertiary);
    color: var(--secondary);
}

div#heatmap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 8px);
    grid-template-columns: repeat(52, 8px);
    gap: 4px;
}

div#heatmap div.cell {
    background: hsl(210 20% 65%);
    border-radius: 50%;
}

section {
    margin-bottom: var(--space-lg);
}

section h2 {
    font-size: 0.8rem;
    font-family: inherit;
    font-weight: normal;
    color: var(--secondary);
}

p.empty {
    font-style: italic;
}

nav.notes-nav {
    display: flex;
    gap: var(--space-sm);
}

a#new_note_button {
    display: inline-flex;
    align-items: center;
    background: var(--color-accent-light);
    color: var(--color-primary);
    float: right;
    font-size: 1rem;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    text-transform: lowercase;
}

input#note_search_input {
    flex: 1;
}

textarea#new_note {
    resize: none;
}
