@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --bg: #f3f3ed;
    --primary: #382e2e;
    --secondary: #6b6161;
    --tertiary: #85adad;
    --link: #47765f;

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 3rem;
    --space-xl: 5rem;

    --line-height-default: 1.5;
    --line-height-compact: 1.2;
}

html {
    background: var(--bg);
    color: var(--primary);
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    line-height: var(--line-height-default);
    min-height: 100dvh;
}

body > div.container {
    display: flex;
    flex: 1;
    margin: var(--space-lg) auto;
    margin-top: var(--space-lg);
    max-width: 960px;
    width: 100%;
}

aside.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

aside.sidebar header {
    margin-bottom: var(--space-lg);
}

aside.sidebar > nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

aside.sidebar > nav a {
    color: var(--secondary);
    display: block;
    font-weight: 500;
    padding: 4px 8px;
    text-decoration: none;
    width: 200px;
    position: relative;
    border-radius: 8px;
    left: -8px;
}

aside.sidebar > nav a:hover {
    background: rgba(50, 50, 25, 0.05);
}

aside.sidebar > nav .top-options,
aside.sidebar > nav .bottom-options {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

body > header > menu {
    margin-left: 0;
    list-style-type: none;
    display: flex;
    gap: var(--space-md);
}

div.container > main {
    margin-top: var(--space-xl);
}

body > main:has(div.hero) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex: 1;
    width: 100%;
}

body > footer {
    height: 120px;
    display: flex;
    align-items: center;
}

body:has(div.hero) > footer {
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nunito, sans-serif;
    font-weight: 600;
    line-height: var(--line-height-compact);
}

p {
    color: var(--secondary);
}

a {
    color: var(--link);
}

a.title {
    color: var(--primary);
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

a.cta-btn {
    padding: var(--space-xs) var(--space-md);
    background: var(--link);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 8px -6px var(--primary);
    text-decoration: none;
}

div.hero {
    max-width: 320px;
    position: relative;
    text-align: center;
    width: 100%;
}

div.hero img {
    height: 100px;
}

div.hero > h1 {
    font-size: 2.5rem;
    margin-bottom: var(--space-md);
    margin-top: var(--space-xs);
}

div.hero > h2 {
    margin-bottom: var(--space-md);
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--secondary);
}

div.hero form {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

div.hero form:has(+ ul.messages) {
    margin-bottom: var(--space-sm);
}

div.hero form input,
div.hero form button {
    border-radius: 8px;
    font-size: inherit;
    padding: 8px 12px;
    line-height: var(--line-height-default);
}

div.hero form input {
    border: 1px solid #d4d4d2;
    width: 100%;
}

div.hero form input:focus {
    outline: 2px solid var(--tertiary);
    outline-offset: 2px;
}

div.hero form button {
    border: none;
    background: var(--primary);
    color: white;
    cursor: pointer;
}

div.hero form .passcode-container {
    text-align: left;
}

div.hero form small {
    color: var(--secondary);
    display: block;
    margin-bottom: var(--space-xs);
}

ul.messages {
    list-style-type: none;
    background: rgba(0, 0, 0, 0.07);
    padding: var(--space-sm);
    width: 100%;
    font-size: 80%;
    border: 1px solid var(--tertiary);
    color: var(--secondary);
}

div#heatmap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 10px);
    grid-template-columns: repeat(52, 10px);
    gap: 4px;
}

div#heatmap div.cell {
    background: darkseagreen;
    height: 9.92px;
    border-radius: 2px;
}

section {
    margin-bottom: var(--space-lg);
}

section h2 {
    font-size: 0.8rem;
    font-family: inherit;
    font-weight: normal;
    color: var(--secondary);
}

p.empty {
    font-style: italic;
}
