@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --bg: #f3f3ed;
    --primary: #382e2e;
    --secondary: #6b6161;
    --tertiary: #85adad;
    --link: #47765f;

    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 3rem;
    --space-xl: 5rem;

    --line-height-default: 1.5;
    --line-height-compact: 1.2;
}

html {
    background: var(--bg);
    color: var(--primary);
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    line-height: var(--line-height-default);
    min-height: 100dvh;
}

body > header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1024px;
    padding: var(--space-md) 0;
    width: 100%;
}

body > header > nav menu {
    list-style-type: none;
    display: flex;
    gap: var(--space-md);
    padding: 0;
}

body > header > nav menu a {
    color: var(--primary);
    text-decoration: none;
}

menu a:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-thickness: 2px;
}

body > main,
body > footer {
    margin: auto;
    max-width: 720px;
    width: 100%;
}

body > main {
    margin: var(--space-lg) auto;
}

body > main:has(div.hero) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex: 1;
}

body > footer {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nunito, sans-serif;
    font-weight: 600;
    line-height: var(--line-height-compact);
}

p {
    color: var(--secondary);
}

a {
    color: var(--link);
}

a.title {
    color: var(--primary);
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

a.cta-btn {
    padding: var(--space-xs) var(--space-md);
    background: var(--link);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 8px -6px var(--primary);
    text-decoration: none;
}

div.hero {
    margin-bottom: 120px;
    max-width: 320px;
}

div.hero > h1 {
    font-size: 2.5rem;
}

div.hero form {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

div.hero form input,
div.hero form button {
    border-radius: 8px;
    font-size: inherit;
    padding: 8px 12px;
    line-height: var(--line-height-default);
}

div.hero form input {
    border: 1px solid #d4d4d2;
    width: 100%;
}

div.hero form input:focus {
    outline: 2px solid var(--tertiary);
    outline-offset: 2px;
}

div.hero form button {
    border: none;
    background: var(--primary);
    color: white;
    cursor: pointer;
}

div.hero form .otp-container {
    text-align: left;
}

div.hero form small {
    color: var(--secondary);
    display: block;
    margin-bottom: var(--space-xs);
}
