main {
    justify-content: center;
    align-items: center;
}

#continue_with_email_form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    max-width: 360px;
    width: 100%;
    position: relative;
    top: calc(-1 * var(--spacing-lg));
}

#continue_with_email_form input,
#continue_with_email_form button {
    border: 1px solid var(--color-light);
    border-radius: 6px;
    padding: 6px 12px;
    width: 100%;
}

#continue_with_email_form button {
    background: var(--color-primary);
    color: var(--color-whitish);
}
