<form method="post" id="continue_with_email_form">
    {% csrf_token %}
    <input type="email" name="email" value="{{ email }}" id="continue_with_email_input" readonly required>
    <div class="otp-container">
        <small>A one-time passcode has been emailed to you.</small>
        <input type="text" name="passcode" placeholder="Enter one-time passcode" autofocus required>
    </div>

    {% if user_has_account %}
        <button type="submit" id="login_button">Log in to Littlenote</button>
    {% else %}
        <button type="submit" id="signup_button">Create free Littlenote account</button>
    {% endif %}
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
