{% extends "notes/base.html" %}
{% load static %}

{% block subtitle %}
    all notes
{% endblock subtitle %}

{% block notes_content %}

    <section>
        <h2>Contributions</h2>
        <div id="heatmap">
            {% for day in days %}
                <div class="cell"
                    data-day="{{ day|date:'Y-m-d' }}"
                    title="{{ day|date:'F j, Y' }}"></div>
            {% endfor %}
        </div>
    </section>

    <section>
        <h2>Recent Notes</h2>
        <p class="empty">You don't have any notes.</p>
    </section>

{% endblock notes_content %}
