{% extends "notes/base.html" %}

{% load static %}


{% block subtitle %}

    notes

{% endblock %}


{% block notes_stylesheets %}

    <link rel="stylesheet" href="{% static 'notes/css/all.css' %}">

{% endblock %}


{% block app_nav_button %}

    <a href="{% url 'notes:new' %}">&plus; New Note</a>

{% endblock %}


{% block notes_content %}

    <section>
        <div id="heatmap">
            {% for day in days %}
                <div class="cell {{ day.css_class }}"
                    data-day="{{ day.date|date:'Y-m-d' }}"
                    title="{{ day.count }} contributions on {{ day.date|date:'F j, Y' }}"></div>
            {% endfor %}
        </div>
    </section>

    <section>
        <input type="search" placeholder="Find a note..." id="note_search_input">
        <ul class="note-list">
            {% for note in notes %}
            <li class="note-list-item">
                <a href="{% url 'notes:detail' pk=note.id %}">
                    <span class="note-list-item-title">
                        {% if note.title %}
                            {{ note.title }}
                        {% else %}
                            {{ note.content|truncatewords:5 }}
                        {% endif %}
                    </span>
                    <time datetime="{{ note.created_at|date:'Y-m-d' }}">{{ note.created_at|date:"M j, Y" }}</time>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}
