{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'notes/css/detail.css' %}">
{% endblock %}

{% block nav_button %}
    <a href="{% url 'notes:list' %}">
        ../
    </a>
{% endblock %}

{% block main %}
    <section class="note-detail">
        <header>
            {% if note.title %}
                <h1 class="note-title">{{ note.title }}</h1>
            {% endif %}
            <time datetime="">{{ note.created_at }}</time>
        </header>
        <div class="note-content">{{ note.content | markdown | safe }}</div>
    </section>
{% endblock %}
