{% extends "app.html" %}
{% load static %}

{% block app_stylesheets %}
    <link rel="stylesheet" href="{% static 'notes/css/list.css' %}">
{% endblock %}

{% block app_content %}
    <div class="actions">
        <form method="get" action="{% url 'notes:list' %}">
            <input
                type="search"
                name="search"
                id="note_search_input"
                value="{{ request.GET.search }}"
                hx-get="{% url 'notes:list' %}"
                hx-swap="true"
                hx-target="#note_list_container"
                hx-trigger="input changed delay:500ms"
                hx-push-url="true"
                placeholder="Search for notes...">
        </form>
        <a href="{% url 'notes:new' %}">New Note</a>
    </div>
    <hr>
    {% include 'notes/partials/list_entries.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}
