{% extends "app.html" %}
{% load static %}

{% block app_stylesheets %}
    <link rel="stylesheet" href="{% static 'notes/css/list.css' %}">
{% endblock %}

{% block app_content %}
    <div class="actions">
        <form action="">
            <input type="search" placeholder="Search for notes..." id="note_search_input">
        </form>
        <a href="{% url 'notes:new' %}">New Note</a>
    </div>
    <hr>
    <ul class="note-list">
        {% for note in notes %}
            <li>
                {% with note.created_at|date:'Y-m-d' as formatted_date %}
                    <time datetime="{{ formatted_date }}">{{ formatted_date }}</time>
                    <a href="{% url 'notes:detail' pk=note.id %}">
                        {% if note.title %}
                            {{ note.title }}
                        {% else %}
                            {{ note.content|truncatewords:5 }}
                        {% endif %}
                    </a>
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="previous-button">&larr; previous</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="next-button">next &rarr;</a>
        {% endif %}
    </div>
{% endblock %}
