{% extends "base.html" %}
{% load static %}

{% block subtitle %}
    new note
{% endblock subtitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'notes/css/new.css' %}">
{% endblock %}

{% block nav_button %}
    <a href="{% url 'notes:list' %}">
        ../
    </a>
{% endblock %}

{% block main %}
    <form method="post" id="note_form">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title (optional)">
        <textarea name="content" placeholder="Write a note..."></textarea>
        <button type="submit">Publish</button>
    </form>
{% endblock %}
