{% extends "app.html" %}
{% load static %}

{% block subtitle %}
    Notes
{% endblock subtitle %}

{% block app_content %}
    <section>
        <h2>Contributions</h2>
        <div id="heatmap">
            {% for day in days %}
                <div class="cell"
                    data-day="{{ day|date:'Y-m-d' }}"
                    title="{{ day|date:'F j, Y' }}"></div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h2>Tags</h2>
        <p class="empty">You don't have any tags.</p>
    </section>
    <section>
        <h2>Recent Notes</h2>
        <p class="empty">You don't have any notes.</p>
    </section>
    <nav class="notes-nav">
        <input type="search" name="note_search_input" id="note_search_input" placeholder="Find a note...">
        <a href="{% url 'notes:new_note' %}" id="new_note_button">New Note</a>
    </nav>
{% endblock app_content %}
